In [36]:
from python_holidays import holidays
from pandas import DataFrame

In [37]:
h = holidays.ES(years = 2018)

In [38]:
d = [{'date':d,'name':n} for (d,n) in h.items()]

In [39]:
DataFrame.from_dict(d)

         date                             name
0  2018-01-01                        Año nuevo
1  2018-01-06               Epifanía del Señor
2  2018-03-30                    Viernes Santo
3  2018-05-01               Día del Trabajador
4  2018-08-15            Asunción de la Virgen
5  2018-10-12             Día de la Hispanidad
6  2018-11-01                 Todos los Santos
7  2018-12-06  Día de la constitución Española
8  2018-12-08         La Inmaculada Concepción
9  2018-12-25                          Navidad

In [42]:
def get_holidays(country,year):
    if country.lower() == 'spain':
        h = holidays.ES(years = year)
    if country.lower() == 'australia':
        h = holidays.AU(years = year)
    if country.lower()
    d = [{'date':d,'name':n} for (d,n) in h.items()]
    r = DataFrame.from_dict(d)
    return r

In [45]:
def get_holidays(country,year):
    country_switcher = {
        'spain':holidays.ES(years=year),
        'australia':holidays.AU(years=year),
        'austria':holidays.AT(years=year),
        'belgium':holidays.BE(years=year),
        'canada':holidays.CA(years=year),
        'colombia':holidays.CO(years=year),
        'czech':holidays.CZ(years=year),
        'denmark':holidays.AT(years=year),
        'england':holidays.FI(years=year),
        'finland':holidays.FI(years=year),
    }
    
    d = [{'date':d,'name':n} for (d,n) in h.items()]
    r = DataFrame.from_dict(d)
    return r

In [43]:
h = get_holidays('australia',2018)

In [51]:
    country_switcher = {
        'spain':holidays.ES(years=2018)
    }